body {
    font-family: 'Outfit', sans-serif;
    margin-top: 5rem;
}

.bg-home {
    background-image: url('/static/img/home.jpg');
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    padding: 2rem 25rem;
}
.submit {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content-section {
    margin-left: 5rem;
    margin-right: 5rem;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
  
.article-title {
    color: #444444;
}
  
.article-title:hover {
    color: #428bca;
    text-decoration: none;
}
  
.article-content {
    white-space: pre-line;
}
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}
  
.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}
  
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.account-heading {
    font-size: 2.5rem;
}

.leaderboard {
    margin: 5rem 10rem;
}


footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 10rem;
    background-color: #212529;
    text-align: center;
    padding: 3rem;
}
.fp {
    padding: 0 2.5rem;
}
.about {
    color: white;
}
#contact {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.copyright {
    font-size: 0.8rem;
    color: grey
}
.social {
    color: white;
    opacity: 0.8;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.social:hover {
    color: white;
    opacity: 1;
}



.blog-post {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.avatar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.avatar-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    flex-direction: row;
}

.employee-points {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom:10px ;
    font-style: italic;
}

.content-box {
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.bottom-left-values {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.v-box {
    display: flex;
    justify-content:center;
    margin-top: 10px;
}

.v-sub-box {
    width:50%;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    }

.custom-styles .form-group {
    margin-bottom: 20px;
}

.custom-styles label {
    font-weight: bold;
}

.custom-styles h2 {
    color: #428bca;
    margin-bottom: 30px;
}

.custom-styles .btn-primary {
    background-color: #428bca;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-styles .btn-primary:hover {
    background-color: #3071a9;
}

.custom-styles .content-section {
    margin: 0 15rem;
    background: #ffffff;
    padding: 30px;
    border: 3px solid #428bca;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin-top: 150px;
}

.custom-styles select,
.custom-styles textarea {
    border: 2px solid #428bca; 
    border-radius: 5px;
    padding: 8px;
}




/* after this all css is added by me */

.redeem-styles .form-group {
    margin-bottom: 20px;
}

.redeem-styles label {
    text-align: center;
    font-weight: bold;
}

.redeem-styles h2 {
    text-align: center;
    color: #000;
    font-weight: 900;
    margin-bottom: 30px;
}

.redeem-styles .btn-danger {
    background-color: #000;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.redeem-styles .btn-danger:hover {
    background-color: #000;
}

.redeem-styles .content-section {
    margin: 0 13rem;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
}

.redeem-styles select{
    margin-bottom:20px;
    border: 2px solid #000; 
    border-radius: 5px;
    padding: 8px;
}


.success-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}
.success-container h1 {
    color: goldenrod;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}
.voucher-card {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align:left;
}
.voucher-card h2 {
    color: goldenrod;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
 .voucher-card p {
    color: #0e0e0e;
    font-size: 18px;
    margin-bottom: 5px;
}
.voucher-card p:last-child {
    margin-bottom: 0;
}

.profile-btn
{
    color: #f2f2f2;
    text-decoration: none;
}