body{
    font-family: 'Outfit', sans-serif;
    margin-top: 5rem;
}
.blog-post {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.avatar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.avatar-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    flex-direction: row;
}

.employee-points {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom:10px ;
    font-style: italic;
}

.content-box {
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.bottom-left-values {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.v-box {
    display: flex;
    justify-content:center;
    margin-top: 10px;
}

.v-sub-box {
    width:50%;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #ccc;
}