body {
    font-family: 'Outfit', sans-serif;
    margin-top: 5rem;
}

.bg-home {
    background-image: url('/static/img/home.jpg');
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-box {
    min-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.login {
    margin: 2rem 1rem;
}
.submit {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content-section {
    margin-left: 5rem;
    margin-right: 5rem;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
  
  
.article-content {
    white-space: pre-line;
}
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}
  
.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}
  
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.account-heading {
    font-size: 2.5rem;
}

.leaderboard {
    margin: 5rem 10rem;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.bg-leaderboard {
    background-image: url('/static/img/leaderboard-img.jpg');
    opacity: 0.8;
    height: 100%;
    padding-top: 9.3rem;
    padding-bottom: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    bottom: 0;
    width: 100%;
    margin-top: 5rem;
    background-color: #212529;
    text-align: center;
    padding: 3rem;
}
.fp {
    padding: 0 2.5rem;
}
.about {
    color: white;
}
#contact {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.copyright {
    font-size: 0.8rem;
    color: grey
}
.social {
    color: white;
    opacity: 0.8;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.social:hover {
    color: white;
    opacity: 1;
}


.outer-content-section {
    padding-top: 0.5rem;
}

.blog-post {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.avatar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.avatar-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
}

.employee-points {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom:10px ;
    font-style: italic;
}

.content-box {
    border-radius: 8px;
    background-color: #F1EFEF;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.bottom-left-values {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.v-box {
    display: flex;
    justify-content:center;
    margin-top: 10px;
}

.v-sub-box {
    width:50%;
    margin-right: 10px;
    padding: 10px;
    background-color: #F1EFEF;
    /* border: 2px solid #3b5998; */
}

.liked{
    background-color: red;
}

.liked:hover{
    background-color: red;
}

.unliked:hover{
    background-color: red;
}

.unliked{
    background-color: white;
}



.custom-styles .form-group {
    margin-bottom: 20px;
}

.custom-styles label {
    font-weight: bold;
}

.custom-styles h2 {
    margin-bottom: 30px;
}
.custom-styles .content-section {
    min-width: 400px;
    margin: 0 15rem;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 150px;
}

.custom-styles select,
.custom-styles textarea {
    background-color: #F1EFEF;

    padding: 8px;
}


.request .container {
    max-width: 600px; /* Adjust the width as needed */
    margin: 1rem auto; 
    padding: 3rem;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3);/* Blurry shadow effect */
    backdrop-filter: blur(3px);
    border-radius: 2%;
    color:black;
}
.radio-input {
    margin-right: 5%;
}
.form-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .form-label {
    color: black;
    font-weight: 700;
 }
 .form-input {
    background-color: #F1EFEF;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #F1EFEF;
    border-radius: 4px;
 }
 .value-label {
    color: black;
    font-weight: 700;
 }

 .manager-main{
    /* display: flex; */
    flex-direction: column;
    gap: 70px;
    margin-top: 5rem;
}

.manager {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
}
 
.box {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
 
.content-container {
    margin-top: 20px;
}
 
.description {
    height: 5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    background-color: #F1EFEF;
    margin-bottom: 1rem;
}
 
.buttons {
    margin-top: 20px;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
}
 
.manager button {
    padding: 0.5rem 4rem;
}

.redeem-styles .form-group {
    margin-bottom: 20px;
}

.redeem-styles label {
    text-align: center;
    font-weight: bold;
}

.redeem-styles h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    font-weight:bolder;
}

.redeem-styles img{
    transition: 0.5s;
}

.redeem-styles img:hover{
    transform: scale(0.85);
}

.redeem-styles .content-section {
    width: 85%;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
}

.redeem-styles select{
    margin-bottom:20px;
    border: 2px solid #535565; 
    border-radius: 5px;
    padding: 8px;
    color: rgb(91, 89, 89);
    font-weight:bold;
}

.success-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 40%;
}
.success-container h1 {
    color: goldenrod;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}
.voucher-card {
    /* background-color: #f2f2f2; */
    background-color: #F1EFEF;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding: 20px;
    text-align:left;
}
.voucher-card h2 {
    color: goldenrod;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
 .voucher-card p {
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
}
.voucher-card p:last-child {
    margin-bottom: 0;
}

.profile-btn
{
    color: #f2f2f2;
    text-decoration: none;
}
.profile {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.fadeOut {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.coupons {
    margin: 5rem 10rem;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.bg-coupons {
    background-image: url('/static/img/bgimage4.jpg');
    opacity: 0.8;
        height: 100%;
        padding-top: 5rem;
        padding-bottom: 10rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}


.no-requests-message {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}