body {
    font-family: 'Outfit', sans-serif;
    margin-top: 5rem;
}
 
.container {
    max-width: 600px; /* Adjust the width as needed */
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Blurry shadow effect */
    background-color: #fff;
    border-radius: 2%;
}
 
.login-container {
    padding: 2rem;
}
 
label {
    display: block;
    margin-bottom: 0.5rem;
}
 
input, select, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #3b5998;
    border-radius: 4px;
}
 
input[type="submit"] {
    background-color: #428bca;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
 
input[type="submit"]:hover {
    background-color: #3071a9;
}

.radio-container {    
    margin-top: 2%;  
    display: flex; 
    flex-direction: column;
    margin-bottom: 3%; 
}
.radio-container label {    
    margin-bottom : 2%; 
    display: flex;
    align-items: center;
}

.radio-container input {    
    margin-left : -1.5rem; 
    margin-bottom: 2rem;
    margin-top: -5%;
}
