{% extends "layout.html" %} 
{% block content %}
    <div class="outer-content-section">
        {% for post in posts %}
        <div class="container mt-5">
            <div class="blog-post">
                <!-- Circular Box for Avatar, Manager Name, Employee Name, and Points -->
                <div class="avatar-box">
                    <div class="avatar-info">
                        <img src="/static/img/profile.jpg" alt="M" class="avatar">
                        &ensp;
                        <div><b>{{post.user_name}}</b></div>
                    </div>
                    <div><b>Date:</b> {{post.time}}</div>
                </div>
                <!-- Employee Name and Points -->
                <div class="employee-points">
                    <div><i>Appreciated By</i> <b>{{post.manager_name}}</b></div>
                    <div><b>Points:</b> {{post.post_points}}</div>
                </div>
    
                <!-- Content Box with Values and V1, V2 Sub-boxes -->
                <div class="content-box">
                    <!-- Variable Content Goes Here -->
                    <p>{{post.content}}</p>
                    <!-- End Variable Content -->
                    <div class="v-box">
                        <div style="text-align: center;font-weight: bold;" class="v-sub-box">{{post.category}}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
{% endblock content %}

