{%extends 'layout.html'%}
{% block content %}

<body class="manager-main">
    <script>
        function showAlert(){
            alert("Redirecting to 'Create Page' to create a post on this user");
        }
    </script>

<div class="manager">
    {%if values|length <1%}
    <div style="display: flex;"> <h1 style="align-items: cente;"><B>There are no new requests</B></h1></div>
    {%endif%}
    {% for value in values %}
    <div class="box">
        <div class="user-info">
            <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><b>Requested By:&nbsp;{{value.id}}<b></b></h4>
        </div>
        <!-- Space for "value" on the top right -->
        <div class="value-info">
            <!-- Fetch and display the value here -->
            <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><b>VALUE:&nbsp;{{value.options}}<b></b></h4>
        </div>
<br>
    <div class="content-container">
        <!-- Description fetched from the database -->
        <h4><b>Description of the Achievement:</b></h4>
        <div class="description">
            <!-- Assuming you fetch the description dynamically -->
            {{value.content}}
        </div>
<br>
        <!-- Accept and Decline buttons -->
        <div class="buttons">
            <a href="{{url_for('new_blog')}}"><button id="acceptBtn" onclick="showAlert()">Accept</button></a>
            <a href="/delete/{{value.id}}"><button id="acceptBtn">Decline</button></a>
        </div>
    </div>
</div>
    {%endfor%}
</div>
</body>
{% endblock %}