{% extends 'layout.html' %}
{% block content %}

<div class="manager-main">
    <div class="manager">
        {% if requests|length < 1 %}
        <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <h1><b>There are no new requests</b></h1>
        </div>
        {% endif %}

        {% for request in requests %}
        <div class="box" data-post-id="{{ request.request_id }}">
            <div class="user-info">
                <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    <b>Requested By: {{ request.user.name }}</b>
                </h4>
            </div>

            <div class="value-info">
                <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    <b>VALUE: {{ request.values }}</b>
                </h4>
            </div>

            <div class="content-container">
                <h4><b>Description of the Achievement:</b></h4>
                <div class="description">
                    {{ request.description }}
                </div>

                <!-- Accept and Decline buttons -->
                <div class="buttons">
                    <a href="{{ url_for('new_blog', user_id=request.user_id, description=request.description, values=request.values) }}">
                        <button class="acceptBtn">Accept</button>
                    </a>
                    <button class="declineBtn">Decline</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}