{% extends "layout.html" %} {% block content %}
<div class="success-container">
  <h1>Congratulations!</h1>
  {% if voucher_name and voucher_worth %}
  <div class="voucher-card">
    <h2>A Gift Voucher for you</h2>
    <p><b>Voucher Name:</b> <i>{{ voucher_name }}</i></p>
    <p><b>Coupon code:</b> {{s}}</p>
    <p><b>Discount Offered:</b> {{ voucher_worth }} Rupees</p>
    <p style="font-size: small; text-align: right">
      Expires after <b>30</b> days
    </p>
  </div>

  {% endif %}

  <h3>Your updated points balance: {{ points }}</h3>
</div>
{% endblock %}
