{% extends "layout.html" %}
{% block content %}
<style>
    label {
        display: block;
        margin-bottom: 5px;
    }
</style>
<div class="custom-styles">
    <div class="content-section">
        <h2>Redeem Your Points: {{points}}</h2>
        <form action="{{ url_for('redeem_points') }}" method="post">
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <label for="zomato">Zomato Gift Voucher:</label>
                    <input type="checkbox" name="zomato_enabled" id="zomato_enabled"
                        onclick="updateDropdownEnabled('zomato', {{ points }})">
                    <select name="zomato_points" id="zomato_points" disabled>
                        <option value="50">50 Points</option>
                        <option value="100">100 Points</option>
                        <option value="200">200 Points</option>
                    </select>
                </div>
                
                <div class="form-check form-check-inline">
                    <label for="amazon">Amazon Gift Card:</label>
                    <input type="checkbox" name="amazon_enabled" id="amazon_enabled"
                        onclick="updateDropdownEnabled('amazon', {{ points }})">
                    <select name="amazon_points" id="amazon_points" disabled>
                        <option value="50">50 Points</option>
                        <option value="100">100 Points</option>
                        <option value="200">200 Points</option>
                    </select>
                </div>

                <div class="form-check form-check-inline">
                    <label for="boat">Boat Products Voucher:</label>
                    <input type="checkbox" name="boat_enabled" id="boat_enabled"
                        onclick="updateDropdownEnabled('boat', {{ points }})">
                    <select name="boat_points" id="boat_points" disabled>
                        <option value="50">50 Points</option>
                        <option value="100">100 Points</option>
                        <option value="200">200 Points</option>
                    </select>
                </div>
                <div class="form-check form-check-inline">
                    <label for="stationary">Stationary Gift Card:</label>
                    <input type="checkbox" name="stationary_enabled" id="stationary_enabled"
                        onclick="updateDropdownEnabled('stationary', {{ points }})">
                    <select name="stationary_points" id="stationary_points" disabled>
                        <option value="15">15 Points</option>
                        <option value="50">50 Points</option>
                        <option value="100">100 Points</option>
                    </select>
                </div>

                <div class="form-check form-check-inline">
                    <label for="vacation">Vacation Card:</label>
                    <input type="checkbox" name="Vacation_enabled" id="Vacation_enabled"
                        onclick="updateDropdownEnabled('Vacation', {{ points }})">
                    <select name="Vacation_points" id="Vacation_points" disabled>
                        <option value="15">1 Day</option>
                        <option value="50">5 Days</option>
                        <option value="100">10 Days</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Redeem Points</button>
            </div>
        </form>
    </div>
</div>
<script>
    function updateDropdownEnabled(option, userPoints) {
        var enabledCheckbox = document.getElementById(option + '_enabled');
        var pointsDropdown = document.getElementById(option + '_points');
        var options = pointsDropdown.options;
        if (enabledCheckbox.checked) {
            pointsDropdown.disabled = userPoints < parseInt(pointsDropdown.value);
            for (var i = 0; i < options.length; i++) {
                options[i].style.display = (parseInt(options[i].value) <= userPoints) ? 'block' : 'none';
            }
        } else {
            pointsDropdown.disabled = true;
            for (var i = 0; i < options.length; i++) {
                options[i].style.display = 'block';
            }
        }
    }
</script>
{% endblock %}